[project]
	description = The first in GitHub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Peter (St-PeterZhu)
[access "refs/for/refs/*"]
	read = group user/Peter (St-PeterZhu)
	push = group user/Peter (St-PeterZhu)
	label-Code-Review = -2..+2 group user/Peter (St-PeterZhu)
	label-Verified = -1..+1 group user/Peter (St-PeterZhu)
	rebase = group user/Peter (St-PeterZhu)
	removeReviewer = group user/Peter (St-PeterZhu)
	submit = group user/Peter (St-PeterZhu)
[access "refs/heads/*"]
	read = group user/Peter (St-PeterZhu)
	create = group user/Peter (St-PeterZhu)
	push = +force group user/Peter (St-PeterZhu)
	pushMerge = group user/Peter (St-PeterZhu)
[access "refs/tags/*"]
	push = group user/Peter (St-PeterZhu)
	push = +force group user/Peter (St-PeterZhu)
